<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://iconos8.es/icon/VwNtH5f7bWpg/apple-music" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Bandas Musicales
    </a>
  </div>
</nav>

  <div class="grid text-center">
    <div class="g-col-6">
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">País</th>
            <th scope="col">Genero</th>
            <th scope="col">Fundación</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let banda of bandas">
            <th scope="row">{{banda.id}}</th>
            <td><a href="#" (click)="onSelect(banda)">{{banda.name}}</a></td>
            <td>{{banda.country}}</td>
            <td>{{banda.genre}}</td>
            <td>{{banda.foundation_year}}</td>
          </tr>
        </tbody>
      </table>
      <p>la banda mas antigua es: {{getOlderBand().name}} fundada hace: {{2023 - getOlderBand().foundation_year}} años</p>
    </div>
    <div class="g-col-6" *ngIf="selected">
      <app-bandas-detail [banda]="selectedBanda"></app-bandas-detail>
    </div>
  </div>





